*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Inria+Serif&family=Roboto:wght@100&display=swap');
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(../img/fondo1.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.card-box{
    position: relative;
    width: 350px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(15px); backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-value{
    text-align: center;
}

.botonera a{
    width: 300px;
    height: 38px;
    border-radius: 40px;
    background: black;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.botonera a:hover{
    background: rgb(199, 40, 93);
}

.social-links a{
    background: none;
    color: rgb(199, 40, 93);
    font-size: 40px;
}

.parrafo{
    margin-bottom: 20px;
}

/* h2{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
} */

h3{
    font-size: 15px;
    margin-bottom: 15px;
    /* margin-top: 15px; */
    color: rgb(199, 40, 93);
}

.foto{
    height: 200px;
    width: 300px;
    margin-left: 10px;
    /* border-radius: 50%; */
}